.DS_Store
.idea/

tools/

machineLangParser/.idea/
machineLangParser/.bsp/
machineLangParser/utils/
machineLangParser/target/streams/
machineLangParser/target/global-logging/
machineLangParser/target/task-temp-directory/

assembler/.idea/
assembler/.bsp/
assembler/project/
assembler/target/


